<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcRWzKpTuxpchtPMAYk2cn-8kuzknNMuw</string>
	<key>GCM_SENDER_ID</key>
	<string>891306650978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sadam.sadam</string>
	<key>PROJECT_ID</key>
	<string>claimassistant-45a0c</string>
	<key>STORAGE_BUCKET</key>
	<string>claimassistant-45a0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891306650978:ios:59c3d6c61062bc53e7103b</string>
</dict>
</plist>